<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1 class="index">INDEX PAGE</h1>
    <a href="/home/">GO TO HOME</a><br />
    <a href="/about/">GO TO ABOUT</a><br />
    <a href="/contact/">GO TO CONTACT</a><br />
  </body>
  <script src="/static/style.js"></script>
</html>
